:root {
--color-border: #E9E9E9;
--color-dull: #333333;
--color__orange: #ED6303;
--color__orange--hover: #fba266;
--color-white: #ffffff;
--color-gray: #B6B1A3;
--color-dark: #070707;
--font-size-links: 18px;
--font-size-title: 48px;
--color-shadow: #F2F2F2;
}

/* =============== Отступы для загаловков и их стилизация на всем сайте ============== */

.style-card__title {
  margin: 0;
  font-family: 'Tenor Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0.05em;
  font-size: var(--font-size-title);
  text-transform: uppercase;
  color: var(--color-dark);
}

/* ====Меню==== */

/* page-border */

.page-border__content {
  border-bottom: 1px var(--color-border) solid;
}

.page-border__content-top {
  border-bottom: 1px var(--color-border) solid;
}

.page-border__content-none {
  border-bottom: 1px var(--color-border) solid;
}


/*Карточка товара*/



/* .card-margin {
  margin-top: 52px;
} */

.top-card {
  /* box-sizing: content-box; */
  width: 100%;
  margin-top: 52px;
}

.card-images {
  width: 52%;
  
}

.card-info {
  width: 48%;
  padding-left: 40px;
}





.card-flex,
.top-img__card-flex {
  display: flex;
  justify-content: space-between;
}

.header-link {
  /* width: 604px; */
  margin-bottom: 40px;
  height: 33px;
}

.menu__link {
  align-items: center;
  width: 217px;
  list-style-type: none;
  margin-bottom: 12px;
}

.link__item {
  font-size: 12px;
  color: var(--color-gray);
  text-decoration: none;
}

.link__item:hover {
  color: var(--color__orange--hover);
}

.link__item .is-active {
  color: var(--color__orange);
}

.is-active {
  color: var(--color__orange);
}

.images-list__left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 20px;
}

.images__link {
  position: relative;
}

.images__link:hover .shadow {
  display: block;
}

.next__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.next__link:hover {
  color: var(--color__orange--hover);
}

.images-list {
  max-height: 510px;
  height: 100%;
}


.images-list__left img {
  width: 74px;
  height: 74px;
}

.images-list__left a {
  color: var(--color__orange);
}

.images-list__right {
  margin-left: 10px;
}

.top-images {
  width: 100%;
  max-height: 505px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.header-text {
/* width: 574px; */
  align-items: center;
  margin-bottom: 40px;
  height: 33px;
}

.text-main {
  margin-bottom: 12px;
  align-items: center;
}

.text__center {
  font-size: 14px;
  line-height: 140%;
  /* margin-right: 288px; */
  margin-left: 10px;
  color: var(--color-dull);
}

.text__right {
  font-size: 12px;
  color: var(--color-gray);
}

.button-product__color {
  width: 27px;
  height: 27px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__title {
  font-size: 45px;
  font-weight: 700;
  color: var(--color-dark);
  margin-bottom: 20px;
}

.text-left__item{
  width: 270px; 
}

.product-text {
  display: flex;
  justify-content: space-between;
  width: 174px;
  align-items: center;
  font-size: 12px;
  color: var(--color-dull);
  margin-bottom: 15px;
}

.info__product {
  font-size: 16px;
  line-height: 140%;
  color: var(--color-dull);
  padding-right: 5px;
}

.text-right__top {
  width: 254px;
  justify-content: space-between;
  align-items: center;
}

.content__title {
  font-size: 14px;
  line-height: 19,6px;
  color: var(--color-gray);
  margin-bottom: 5px;
}

.content__span {
  font-size: 14px;
  line-height: 19,6px;
  color: var(--color-dull);
}

.text-right__made {
  margin-top: 15px;
  width: 214px;
  }

.price__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 32,35px;
  color: var(--color-dark);
}


.price__bonus {
  font-size: 14px;
  line-height: 196%;
  color: rgba(0, 190, 139, 1);
  margin-bottom: 20px;
}

.text-right__price {
  margin-top: 36px;
  margin-bottom: 20px;
}

.card-right__text {
  display: none;
  font-size: 20px;
  color: var(--color-gray);
  font-weight: 400;
}

.tabcontent-card__right a {
  text-decoration: none;
}

.favourites {
  margin-right: 10px;
}

/* стилизация карточек товара */

.tabcontent-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabcontent-card__btn {
  list-style-type: none;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-dark);
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  text-decoration: none;
}

.tabcontent-card__left {
  width: 135px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.tabcontent-card__btn span {
  position: absolute;
  left: 40px;
  transition: all 0.25s ease;
  color: var(--color__orange);
}

.tabcontent-card__btn:hover span {
  color: var(--color__orange--hover);
}

.tabcontent-card__btn svg:hover circle{
  transition: all 0.25s ease;
  fill:var(--color__orange--hover);
}



.d-flex {
  display: flex;
  justify-content: space-between;
}

.text-list__info {
  display: flex;
}

.text-left {
  margin-right: 76px;
}

/* =================== Стилизация вкладок  в карточке товара =================== */
.tab-card__content {
  display: flex;
  align-items: center;
}



/* ============== Блок для адаптива(detailed) */

.detailed a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 12px;
  background-color: var(--color-border);
  border-radius: 10px;
  cursor: pointer;
}

.detailed-item {
  width: 3px;
  height: 3px;
  background-color: var(--color__orange);
  margin-right: 2.5px;
  border-radius: 50%;
}

.detailed-item:last-child {
  margin-right: 0;
}


/* ================= Стиль кнопок, используемых для открытия содержимого вкладки ===============*/

.tab-card__content button {
  padding: 0 32px;
  background-color: var(--color-white);
  /* border: 1px solid var(--color-border); */

  outline: none;
  cursor: pointer;
  transition: 0.3s;

  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-links);
  line-height: 23px;
  text-align: center;
  color: var(--color-gray);
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tab-card__item {
  cursor: pointer;
}

.tab-card__item button {
  margin-top: 60px;
  margin-bottom: 10px;
}

.tab-card__item button:hover {
  color: var(--color__orange);
}

.tab-card__item button.active {
  /* border-radius: 5px; */
  /* Тень на странице карточки */
  box-shadow: 0px 4px 40px var(--color-shadow);
  color: var(--color__orange);
  border: 1px solid var(--color-border);
  border-radius: 5px;
}

.tablinks {
  border: none;
}

.detailed {
  display: none;
}

.text__menu {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.text__menu svg {
  display: none;
}

/* ================= Стиль содержимого вкладки ===============*/


.tab-card {
  margin-right: 30px;
  box-sizing: border-box;
  margin-left: 10px;
}

.tabcontent-card__item {
  padding-left: 32px;
  padding-top: 30px;
  margin-bottom: 100px;
  max-width: 906px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  /* Тень на странице карточки */
  box-shadow: 0px 4px 40px var(--color-shadow);
  padding-bottom: 63px;
}

.style-title_tab {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.tabcontent-card__item p {
  padding-top: 15px;
  padding-right: 15px;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-dull);
}

.tabcontent__wrap {
  box-sizing: border-box;
  margin-top: 129px;
}

.tabcontent__btn {
  margin-right: 0;
}

.tabcontent__btn a {
  margin: 0;
}


.tabcontent__wrap--left {
  margin-left: 20px;
}

.tabcontent__wrap-save {
  margin-right: 20px;
}

.text-left p {
  color: var(--color-gray);
}

.text-bottom {
  width: 719px;
}

.text-bottom {
color: var(--color-dull);
}


/* tabcontent-card__item-yj */

.reviews-list {
  width: 598px;
  border-right: 1px solid var(--color-border);
}

.photo__name {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 50px;
  height: 50px;
  background-color: var(--color-border);
  border-radius: 50%;
  margin-right: 15px;
}

.name__text h3 {
  font-size: 16px;
  line-height: 140%;
  color: rgba(0, 190, 139, 1);
  width: 139px;
}

.name__text p {
  font-size: 14px;
  line-height: 140%;
  color: var(--color-gray);
}

.reviews-text {
  display: flex;
}

.reviews-text h2 {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-dark);
}


.tabcontent-card__item h2 {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-dark);
  margin-top: 25px;
}

.info-text__reviews {
  width: 548px;
}

.reviews__like {
  margin-top: 15px;
  margin-bottom: 50px;
}

.reviews-status svg {
  margin-left: 95px;
}

.reviews__like:last-child {
  margin-bottom: 0;
}

.photo__name-bottom {
  margin-right: 15px;
}

.top__title {
  font-size: 16px;
  line-height: 140%;
  color: var(--color-dull);
}

.status__title {
  display: block;
  margin-left: 97px;
}

.bottom__title {
  font-size: 16px;
  line-height: 140%;
  color: var(--color-gray);
}

.estimation {
  width: 140px;
  margin: 0 10px;
  height: 4px;
  background-color: var(--color-border);
  border-radius: 30px;
}

hr {
  box-sizing: content-box;
  height: 4px;
  overflow: visible;
  background-color: var(--color-dark);
  width: 112px;
  margin: 0;
  border-radius: 30px;
  padding: 0;
  border: 0;
}

.hr-two {
  box-sizing: content-box;
  height: 4px;
  overflow: visible;
  background-color: var(--color-dark);
  width: 48px;
  margin: 0;
  border-radius: 30px;
  padding: 0;
  border: 0;
}

.hr-three {
  box-sizing: content-box;
  height: 4px;
  overflow: visible;
  background-color: var(--color-dark);
  width: 3px;
  margin: 0;
  border-radius: 30px;
  padding: 0;
  border: 0;
}


.status-list {
  display: flex;
  align-items: center;
  width: 178px;
  margin-left: 50px;
}

.reviesw-submit {
  width: 178px;
  height: 45px;
  background-color: transparent;
  border: 1px solid var(--color__orange);
  border-radius: 5px;
  color: var(--color__orange);
  margin-top: 41px;
  margin-left: 50px;
  cursor: pointer;
}

.reviesw-submit:hover {
  border: 1px solid var(--color__orange--hover);
}

.reviews-status a {
  text-decoration: none;
}

.status-text__bottom {
  font-size: 12px;
  color: var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
  display: table;
  margin-top: 10px;
  margin-left: 68px;
}

.card__item-flex {
  display: flex;
}




/* Банер стили */


.block-color {
  /* height: 500px; */
  background-color: rgba(242, 242, 242, 1);
  margin-bottom: 100px;
  box-sizing: content-box;
}


.page-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: absolute; */
}

.banner__img {
  /* width: 100%; */
  /* position: relative;
  left: -178px; */
  /* margin-right: 51px; */
  /* object-fit: cover;
  object-position: center; */
  display: block;
  margin-left: -250px;
  height: 500px;
}

.page-banner__text {
  /* position: relative; */
  /* left: -173px; */
  /* width: 40%; */
  padding-right: 10px;

}

.banner__text {
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 37px;
  line-height: 140%;
  color: var(--color-dull);
  max-width: 400px;
  width: 100%;
}


.aboutcompany-link a {
  text-decoration: none;
}

/* Обзоры(review) */

.review-list {
  box-sizing: content-box;
}

.review__title {
  margin-bottom: 50px;
}

.review__item {
  margin-bottom: 100px;
}

.review__item img {
  width: 100%;
}

.review__item a {
  position: relative;
  display: block;
}

.review__item:hover .shadow {
  display: block;
}

.play {
  position: absolute;
  left: 50%;
  top: 50%;
}


.page-list--flex {
  display: flex;
  justify-content: space-between;
  object-fit: cover;
  object-position: center;
}

.shadow {
  display: none;
  background-color: var(--color-dark);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
}

.review__item-text {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px var(--color-border) solid;
}

.review__item-style {
  font-family: 'PT Sans';
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0 0 20px;
  line-height: 140%;
  color: var(--color-gray);
}

.review__item-title {
  font-family:'PT Sans';
  font-size: 20px;
  margin: 0;
  color: var(--color-dark);
}

.item-title__style {
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


/* Похожие товары */

.product-list--flex {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.title--margin{
  margin-top: 100px;
  margin-bottom: 50px;
}

.tabcontent-card__wrap {
  margin-bottom: 100px;
  position: relative;
  margin-right: 10px;
}

.tabcontent-card__wrap-die {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}

.tabcontent-card__wrap img {
  width: 100%;
  min-height: 360px;
  object-fit: cover;
}

.tabcontent-card__wrap-r img {
  width: 100%;
  height: 366px;
  object-fit: cover;
}

.tabcontent-card__wrap-r h3 {
  margin-bottom: 10px;
  margin-top: 30px;
}

.tabcontent-card__wrap-save {
  padding-right: 25px;
}

.tabcontent__subtitle--style {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-gray);
}

.tabcontent-card__wrap h3 {
  margin-bottom: 10px;
  margin-top: 30px;
}

.tabcontent-card__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-gray);
}

.tabcontent-card__price {
  margin-top: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
}

.tabcontent__price {
  font-weight: 700;
}

.tabcontent-card__wrap--left {
  margin-left: 20px;
  position: relative;
}

.tabcontent-card__wrap--left a {
  margin-top: 20px;
}


/* слайдер (slider-places) */

.pager {
  display: flex;
  justify-content: center;
}

.slider-places__pager {
  display: none;
  list-style-type: none;
  margin-bottom: 100px;
  margin-top: -50px;
}

.pager__button {
  width: 30px;
  height: 5px;
  margin: 0 5px;
  background: var(--color-border);
  text-indent: -9999px;
  transition: all 0.25s ease;
  border: none;
  border-radius: 2px;
}

.pager__button.is-active {
  background: var(--color__orange);
}


/* Новости, подписки, акции */

.section-form {
  height: 300px;
  background-color: rgba(242, 242, 242, 1);
}

.form__item--flex{
  display: flex;
  align-items: center;
}

.form__item-top {
  padding-top: 65px;
  padding-bottom: 40px;
}

.form__item-bottom {
  padding-top: 40px;
  padding-bottom: 65px;
}

.title-top--style {
  font-size: 25px;
  font-weight: 700;
  color: var(--color-dull);
  margin-right: 79px;
  width: 40%;
}


.form-input {
  width: 60%;
  display: flex;
  align-items: center;
}


.title-bottom {
  margin-right: 81px;
}

.form-item__text {
  color: var(--color__orange);
  margin-right: 40px;
}

.input__style {
  max-width: 386px;
  width: 100%;
  height: 45px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 5px;
  margin-right: 30px;
  padding-left: 20px;
}

.placeholder {
  font-size: 14px;
  line-height: 140;
  font-weight: 400;
  color: var(--color-gray);
}



.input__submit--style {
  width: 178px;
  min-width: 178px;
  height: 45px;
  border: 1px solid var(--color__orange);
  border-radius: 5px;
  font-size: var(--font-size-links);
  font-weight: 400;
  color: var(--color__orange);
  cursor: pointer;
}

.input__submit:hover {
  color: var(--color__orange--hover);
  border: 1px solid var(--color__orange--hover);
}

.input__submit-top:hover {
  color: var(--color__orange--hover);
  border: 1px solid var(--color__orange--hover);
}

.form-news__img {
  display: none;
}



/* responcive */


main {
  overflow: hidden;
}

/* tablet 1000 */

@media screen and (max-width: 1125px) {


  .page-banner__text {
    width: 50%;
  }

  .banner__title {
    font-size: 40px;
  }
}






/* tablet 768 */ 

@media screen and (max-width: 900px) {

/* page */

.page-border__content {
  display: none;
}

.page-border__content-none {
  display: none;
}

.header-link {
  max-width: 739px;
  width: 100%;
}

.banner__img {
  width: 100%;
  margin-left: -400px;
}

.page-banner__text {
  width: 70%;
}


.page-border {
  margin-left: 0;
}
/* Карточка товара */

/* .page-border__content {
  margin-left: 19px;
} */


.info__product {
  display: none;
}

.top-card {
  display: flex;
  justify-content: flex-start;
}

.card__title {
  font-size: 40px;
}

.text-list {
  display: block;
  width: 100%;
}

.images-list__left {
  display: none;
}

.top-images {
  width: 100%;
  max-height: 399px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-text {
  display: flex;
}

.card-images {
  /* width: 324px; */
  /* margin-right: 40px; */
}

.menu__link {
  margin-left: 19px;
}

.text__center {
  margin-left: 10px;
  margin-right: 15px;
}

.header-text {
  display: flex;
  justify-content: flex-end;
}

.text-right__price {
  display: flex;
  margin-top: 39px;
  max-width: 358px;
  width: 100%;
  justify-content: space-between;
}

.tabcontent-card {
  flex-direction: column-reverse;
  align-items: flex-start;
}

.card-right__text {
  display: block;
}

.tabcontent-card__right a {
  display: flex;
}

/* Вкладки */ 

.tabcontent__wrap {
  display: none;
}

.tabcontent-card__item {
  width: 100%;
  height: 100%;
}

.tabcontent-card__item p {
  font-size: 16px;
}

.tab-card__content button {
  border: none;
  padding: 0 5px;
}

.tab-card__item button.active {
  background-color: FFFFFF;
  border: 1px solid var(--color-border);
  box-shadow: 0px 4px 40px var(--color-shadow);
  border-radius: 5px;
}

.tab-card__content button {
  padding: 17px 20px;
}


.tabcontent-card__item p {
  font-size: 14px;
}



/* Баннер */

.banner__title {
  margin-right: 77px;
  font-size: 40px;
}

.banner__img {
  margin-right: 0;
}

.section-banner {
  /* width: 1920px; */
}

.page-banner {
  /* left: -290px; */
}

/* Обзоры */

.card-review {
  margin-left: 9px;
}

.review__item {
  width: 354px;
  margin-right: 20px;
}

.review__item img {
  width: 354px;
  height: 298px;
}

.review__title {
  margin-bottom: 51px;
}

/* Похожие товары */


.product {
  margin-left: 9px;
}

.slider-places__pager {
  display: flex;
}

.tabcontent-card__wrap {
  flex-shrink: 0;
  margin-right: 30px;
}



/* Просмотренные товары */

.look-product {
  margin-left: 9px;
}

.look-product__title {
  font-size: 46px;
}

.slider-places__pager {
  margin-bottom: 60px;
}

.look-product-list {
  overflow: hidden;
}


/* Новости, подписки, акции */


.section-form {
  height: 100%;
  margin-bottom: 60px;
}

.form-news {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.form__item-top {
  display: flex;
  flex-direction: column;
}

.title-top--style {
  margin-right: 0;
  align-items: flex-start;
  width: auto;
}

.form-input {
  margin-left: 0;
  /* display: grid; */
  display: block;
  width: auto;
}

.form__item--flex {
  align-items: flex-start;
}

.form-news__text {
  /* position: absolute; */
  /* left: 0; */
  padding-left: 39px;
}

.input__style {
  margin-top: 15px;
  margin-bottom: 30px;
}

.form__item-bottom {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.title-bottom {
  margin-right: 0;
}

.form-item__text {
  margin: 15px 0 35px 0;
}

.input__submit {
  /* position: absolute; */
  left: 39px;
}

.form-news__img {
  display: block;
  /* position: relative; */
  height: 475px;
  width: 40%;
  object-fit: cover;
}


}






/* mobale wide*/ 

@media screen and (max-width: 620px) {
  
/* Карточка товара */

.menu__link {
  display: none;
}

.top-images {
  width: 100%;
  margin-top: 100px;
}

.top-img__card-flex {
  display: block;
}

.card-images {
  width: 100%;
}



.card-right__text {
  margin-bottom: 18px;
}

.text-main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px var(--color-border) solid;
  margin-right: 0;
  padding-bottom: 8px;
  z-index: -1;

} 

.text__center {
  /* margin-right: 150px; */
}

.header-text {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 110px;
  width: 95%;
  padding-right: 10px;
}

.page-border__content-none {
  border-bottom: none;
}

.card__title {
  margin-top: 30px;
}

.top-card {
  flex-direction: column;
  margin-top: 0;
}

.tabcontent__wrap img{
  display: none;
}

.page-border__content-top {
  display: none;
}

.page-border__content {
  width: 440px;
}

.card-info {
  width: 100%;
  margin-left: 10px;
  padding-left: 0;
  padding-right: 10px;
}

.card-margin {
  /* margin-top: 0; */
}

.header-text {
  margin-bottom: 0;
}

.text-right__price {
  /* width: 433px; */
  max-width: none;
  align-items: center;
}


/* Вкладки */ 

.tabcontent__wrap, 
.tabcontent__wrap-3 {
  display: none;
}

/* Баннер */

.section-banner {
  margin-bottom: 112px;
  /* height: 676px; */
}

.block-color {
  margin-bottom: 30px;
  /* height: 388px; */
}

.page-banner {
  flex-direction: column;
  left: 0px;
  /* height: 676px; */
}

.banner__img {
  margin-right: 20px;
  margin-left: 0;
  margin-top: 0;
  /* position: static; */
  width: 100%;
  height: 380px;
  object-fit: cover; 
}

.block-color {
  background-color: unset;
}

.page-banner__text {
  /* position: static; */
  margin-top: 30px;
  width: 100%;
}

.banner__text {
  margin-bottom: 25px;
}

.banner__title {
  margin: 0;
  font-size: 35px;
  padding: 0 20px 20px 20px;
  border-bottom: 1px var(--color-border) solid;
  width: 100%;
}

.banner__text,
.aboutcompany-link {
  padding-left: 20px;
}

.text__menu svg {
  display: block;
}

.tab-card--none {
  display: none;
}

.text-none {
  display: none;
}

.tabcontent-card__item {
  width: 100%;
}

.tabcontent-card__item {
  padding-bottom: 33px;
}

.detailed {
  display: flex;
}

.detailed a {
  /* position: absolute; */
  left: 270px;
  bottom: 52px;
}

.tabcontent-card__item {
  position: relative;
}

.tab-card {
  margin-left: 10px;
}



/* Обзоры */

.review__title {
  font-size: 35px;
  margin-bottom: 56px;
}

.slider-places__pager {
  display: flex;
}

/* Похожие товары */

.product__title {
  font-size: 35px;
  margin-bottom: 46px;
}

/* Просмотренные товары */

.look-product__title {
  font-size: 35px;
  margin-bottom: 18px;
}

/* Новости, подписки, акции */

.section-form {
  height: 706px;
  position: relative;
}

.form-news__img {
  height: 580px;
  width: 100%;
  padding-right: 0;
  margin-left: -30px;
}

.form-news__text {
  position: absolute;
  top: 240px;
  background-color: rgba(242, 242, 242, 1);
  max-width: none;
  padding-left: 20px;
  width: 100%;
}

.form__item-top {
  padding-top: 40px;
}

.form-input {
  width: 100%;
}

.page-border__content {
  width: 100%;
  padding-right: 40px;
}

.input__style {
  width: 100%;
  max-width: none;
}

.input__submit--style {
  width: 100%;

}

.input__submit {
  left: 20px;
}

.title-top--style {
  align-self: self-start;
}

.form-item__text {
  align-self: self-start;
}

.form__item-bottom {
  padding-right: 40px;
  padding-bottom: 0;
}


}


/* mobale small*/ 

@media screen and (max-width: 450px) {

.page-header--height {
  min-width: 0;
}

.text-right__top {
  width: 100%;
}

.del {
  display: none;
}

.text-main {
  /* width: 280px; */
}

.text__center {
position: absolute;
left: 5px;
}

.header-text {
  position: absolute;
  bottom: 660px;
}

.top-images {
  /* width: 280px;
  height: 253px;
  margin-bottom: 30px; */
}

.card__title {
  font-size: 30px;
}

.text-right__top {
  max-width: 254px;
}

.text-right__price {
  /* width: 280px; */
}

.tab-card--none {
  display: none;
}
.page-border__content {
  /* width: 90%; */
}


/* Вкладки */

.tab-card {
  height: 100%;
  margin: 0 auto;
}

.tabcontent-card__item {
  /* width: 280px; */
}


.text-none {
  display: none;
}

.text-span {
  display: none;
}

.tabcontent-card__item p {
  font-style: 16px;
}

.tabcontent-card__item {
  padding-left: 31px;
  padding-right: 18px;
  padding-bottom: 39px;
}

.style-title_tab {
  width: 138px;
  display: block;
}


.detailed a {
  /* position: absolute; */
  left: 90px;
  bottom: 58px;
}

/* Банер */

.section-banner {
  height: 527px;
}

.banner__title {
  font-size: 25px;
}

.block-color {
  /* height: 243px; */
  width: 100%;
}

.banner__img {
  height: 240px;
  margin-right: -20px;
  margin-top: 0;
  padding-top: 25px;
}

.page-banner {
  height: 527px;
}

.section-banner {
  margin-top: 100px;
}

.banner__title {
  margin-left: 20px;
  margin-right: 0;
}

.banner__text br {
  display: none;
}

.banner__text {
  height: 110px;
  margin-left: 20px;
}

.aboutcompany-link {
  margin-top: 20px;
  margin-left: 20px;
}


/* Обзоры */ 

.review__title {
  margin-bottom: 40px;
}

.review__item img {
  width: 280px;
}

.review__item-text span {
  display: none;
}


/* Похожие товары */

.product__title {
  font-size: 25px;
  width: 286px;
}


/* Просмотренные товары */

.look-product__title {
  font-size: 25px;
}

.tabcontent-card__wrap img {
  width: 100%;
}

/* Новости акции */



.title-top--style {
  font-size: 16px;
}

.input__submit--style {
  width: 100%;
}

.input__style {
  width: 100%;
}

.form-news__text {
  width: 100%;
  /* top: 200px; */
}

.form-item__text {
  font-size: 14px;
  max-width: 180px;
  margin-bottom: 15px;
}

.form-item__text {
  width: 100%;
}


}