:root {
  --color-border: #E9E9E9;
  --color-dull: #333333;
  --color__orange: #ED6303;
  --color__orange--hover: #fba266;
  --color-white: #ffffff;
  --color-white--opt: rgba(255, 255, 255, 0.95);
  --color-gray: #B6B1A3;
  --color-dark: #070707;

  --font-size-links: 18px;
  --font-size-title: 48px;
}


/* common */

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

div, ul, span, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.page {
  font-family: 'PT Sans', sans-serif;
  font-size: var(--font-size-links);
  font-weight: 400;
  color: var(--color-dull);
}

/* =============== Контейнер для основного контента всего сайта  =============== */
.container-content {
  max-width: 1238px;
  margin: 0 auto;
  padding: 0 10px;
}

/* =============== Отступы для загаловков и их стилизация на всем сайте ============== */
.style__title {
  margin: 60px 0 60px 120px;

  font-family: 'Tenor Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0.05em;
  font-size: var(--font-size-title);
  text-transform: uppercase;
  color: var(--color-dark)
}

.flex-sb-aicenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  appearance: none;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  background-color: rgba(255, 255, 255, 0);
}

/* page-header */

/* page-border */

.page-border {
  border-bottom: 1px var(--color-border) solid;
}

.page-header--height {
  max-width: 1320px; /*чтобы содержимое сжималось*/
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: content-box;
  margin: 0 auto;
}

.page-header a {
  color: var(--color-dull);
  text-decoration:none;

}

.page-header a:hover {
  color: var(--color__orange);
  transition: all 0.25s ease;
}

.header-icons a:hover path {
  stroke: var(--color__orange);
  transition: all 0.25s ease;
}

.page-header__logo {
  border-right: 1px var(--color-border) solid;
  padding-right: 50px;
  height: 80px;
  display: inline-flex;
  align-items: center;
}

.hamburger {
  display: none;
}

.page-header__logo-two {
  display: none;
}

.page-header__nav {
  margin-left: 50px;
}

.mainmenu {
  display: flex;
  list-style-type: none;
}

.page-header__tel {
  display: inline-flex;
}

.page-header__tel svg {
  margin-top: -4px;
}

.page-header__border {
  margin-left: 50px;
  margin-right: 14px;
  height: 80px;
  box-sizing: border-box;
  border-right: 1px var(--color-border) solid;
}

.mainmenu__item {
  padding-right: 30px;
}

.header-icons a {
  padding-left: 37px;
}


.header-icons__item:not(:last-child) {
  margin-right: 10px;
}

/* =================== Первый экран =================== */

.style__title span {
  color: var(--color__orange)
}

/* =================== Стилизация вкладок =================== */
.tab__content {
  display: flex;
  align-items: center;
  margin-left: 110px;
  overflow: hidden;
}


/* ================= Стиль кнопок, используемых для открытия содержимого вкладки ===============*/
.tab__content button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding-right: 68px;
  transition: 0.3s;

  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-links);
  line-height: 23px;
  text-align: center;
}

.tab__item {
  cursor: pointer;
}

.tab__item span{
  display: block;
  margin-top: 18px;
}

.tab__item svg {
  display: block;
  margin-left: 14px;
  cursor: pointer;
}

.tab__item button {
  margin-top: 15px;
  margin-bottom: 50px;
}

.tab__item button:hover {
  color: var(--color__orange);
}

.tab__item button.active {
  color: var(--color__orange);
}

.tab__item path {
  transition: 0.25s;
}

.tab__item button:hover path {
  fill: var(--color__orange);
}

.tab__item button.active {
  color: var(--color__orange);
  }

.tab__item  button.active path{
  fill: var(--color__orange);
}


.tab__link {
  color: var(--color__orange);
  text-decoration:none;
  margin-top: 18px;
  margin-right: 10px;
}


.tab__link:hover {
  color: #FF9F5B;
  transition: all 0.25s ease;
}

.tab__arrow {
  margin-top: 18px;
}

.tab-slider,
.tab__link-ad-320,
.tab__link-ad-480 {
  display: none;
}




/* ================= Стиль содержимого вкладки ===============*/

.tabcontent {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tabcontent__wrap {
  position: relative;
  margin-right: 20px;
}

.tabcontent__wrap--big {
  display: block;
  width: 100%;
  height: 366px;
  min-width: 282px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.tabcontent__wrap--big-ad {
  display: none;
}


.tabcontent__wrap-die {
  position: absolute;
  top: 20px;
  left: 20px;

  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}

.tabcontent__wrap-save {
  padding-right: 25px;
}

.tabcontent__item {
  display: flex;
  align-items: center;
}

.tabcontent__wrap {
  margin-bottom: 100px;
}

.tabcontent__wrap h3 {
  margin-bottom: 10px;
  margin-top: 30px;
}

.tabcontent__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-gray);
}

.tabcontent__price {
  margin-top: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
}

.tabcontent__wrap--left {
  margin-left: 20px;
  position: relative;
}

.tabcontent__wrap--left a {
  margin-top: 20px;
}

.tabcontent__btn {
  margin-right: 20px;

  list-style-type: none;

  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-dark);

  position: relative;

  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.tabcontent__btn span {
  position: absolute;
  left: -72px;
  opacity: 0;
  transition: all 0.25s ease;
  color: var(--color-dark);
}

.tabcontent__btn:hover span {
  opacity: 1;
}


.tabcontent__btn svg:hover circle{
  transition: all 0.25s ease;
}

.tabcontent__btn svg:hover circle{
  fill:var(--color__orange--hover);
}

.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* display: inline-block; */
  min-height: 74px;
  min-width: 74px;
  border-radius: 50%;
  background-color: var(--color__orange);
  /* position: relative; */
  transition: all 0.25s ease;
}

.circle:hover {
  background-color: var(--color__orange--hover);
}

.circle__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  top: 24px;
  left: 19px; */
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;

  color: var(--color-white);
  width: 100%; /*чтобы кликабельным была вся кнопка*/
  height: 100%; /*чтобы кликабельным была вся кнопка*/

}

/* page-aboutcompany */

.page-aboutcompany {
  margin-top: 100px;
}

.aboutcompany-info {
  display: flex;
}

.aboutcompany-info h1 {
  margin-top: 0;
  max-width: 300px;
  width: 100%;
}


.aboutcompany__title {
  font-family: 'Tenor Sans';
  font-size: 48px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.05em;
  color: var(--color-dark);
  line-height: 140%;
  margin-left: 102px;
  margin-right: 139px;
  margin-top: 0;
}

.aboutcompany__text {
  margin-left: 155px;
  max-width: 420px;
}

.aboutcompany__text p{
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  line-height: 140%;
  color: var(--color-dull);
  margin: 0;
}

.aboutcompany-link {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.aboutcompany-link a {
  font-size: var(--font-size-links);
  color: var(--color__orange);
  transition: all 0.25s ease;
}

.aboutcompany-link a:hover {
  color: var(--color__orange--hover);
}

.aboutcompany-link p {
  margin: 0;
}

.aboutcompany__arrow {
  margin-left: 5px;
}

.aboutcompany-images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  margin-top: 86px;
}

.aboutcompany-images__left {
  margin-top: 30px;
  margin-right: 20px;
}

.aboutcompany-images__right {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
}

.aboutcompany-images__ad {
  display: none;
}

.aboutcompany-images__right-img-ad {
  display: none;
}

.aboutcompany-images__right img {
  height: 366px;
  width: 100%; 
}


.aboutcompany-images h2 {
  font-family:'PT Sans';
  font-size: 20px;
  margin: 30px 0 7px 20px;
  color: var(--color-dark);
}

.text-style {
  font-family: 'PT Sans';
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 20px 20px;
  line-height: 140%;
  color: var(--color-gray);
}

/*Каталог*/

.tabcontent__wrap-catalog {
  position: relative;
  margin-right: 20px;
  margin-bottom: 100px;
}


.tabcontent__wrap-catalog h3 {
  margin-bottom: 10px;
  margin-top: 30px;
}




.page-catalog__grid {
  display: grid;
  justify-content: space-around;
  grid-gap: 30px;
  grid: repeat(2, minmax(529px, 1fr)) / repeat(4, calc(25% - 15px ));
  }

.catalog-item {
  height: 100%;
  width: 100%;
  margin: 0;
}

.catalog-item img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.catalog-item--big {
  grid-column: 1 / 3;
}

.page-catalog__btn {
  margin-top: 40px;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 66px;
}



/*page-best-offer*/

.page-best-offer {
  margin-top: 100px;
  margin-bottom: 100px;
}

.best-images {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.best-images__left img {
  width: 100%;
  height: 422px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.best-images__right {
  margin-left: 20px;
}

.best-images__right img {
  width: 100%;
  height: 366px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.best-images__right-img1000,
.best-images__right-img768,
.best-images__right-img320 {
  display: none;
}

.best-images__right-img1240 {
  display: block;
}

.best-images h2 {
  font-family:'PT Sans';
  font-size: 20px;
  margin: 30px 0 7px 20px;
  color: var(--color-dark);
}

/*Подписка*/

.page-subscription {
  background-color: var(--color__orange);
  /* height: 400px; */

  }

  .page-subscription__banner {
    /* height: 100%;
    max-height: 400px; */
    margin-left: -200px;
  }

  .page-subscription__banner img {

    width: 100%;
    height: 100%;
  }

  .page-subscription__banner-img {
    display: block;
  }

  .page-subscription__banner-img1000,
  .page-subscription__banner-img480,
  .page-subscription__banner-img320 {
    display: none;
  }
  
  
  .page-subscription__content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  /* .subscription {
    width: 440px;
    margin: 0 10px 0 73px;
  } */

/* .page-subscription__banner {
  position: absolute;
  top: 0;
  right: 55%;
  height: 100%;
  width: 55%;
}

.page-subscription__content {
  position: relative;
  height: 100%;
} */

.page-subscription__row {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.subscription {
  width: 440px;
  /* margin: 0 50px 0 73px; */
  margin-left: 30px;
  flex-shrink: 0;
}

.subscription h2 {
  margin-bottom: 10px;
  color: var(--color-white);
  font-size: 25px;

}

.subscription p {
  margin-bottom: 35px;
  color: var(--color-white);
  font-size: 18px;
}

.subscription__flexform {
  display: flex;
  align-items: center;
}

.page-subscription__email {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  width: 300px;
  height: 45px;
  appearance: none; /* обнуление базовых стилей */
  border: 2px solid var(--color-white);
  border-radius: 5px;
  background-color: var(--color-white);
  line-height: 28px;
  color: var(--color-gray);
  transition: border 0.25s ease;
}

.page-subscription__email:focus {
  font-size: 16px;
  border: 2px solid var(--color__orange--hover);
  color: var(--color-dull);
  outline: none;
  font-weight: 600;
  box-shadow: 0 0 5px var(--color-white);
}

.page-subscription__button {
  margin-left: 20px;
}

.page-subscription__button:hover circle {
  fill: var(--color__orange);
  stroke: var(--color-white);
}

.page-subscription__button:hover path{
  stroke: var(--color-white);
}


/* Блог */
.page-blog__content {
  margin-top: 100px;
  margin-bottom: 104px;
}

.page-blog-list {
  display: flex;
  justify-content: space-between;
  align-items:flex-start
}

.page-blog__title {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.page-blog__item {
  max-width: 386px;
  width: 100%;
  margin-right: 20px;
}

.page-blog__item:last-child {
  margin-right: 0;
}


.page-blog__item-1,
.page-blog__item-2,
.page-blog__item-3 {
  display: block;
  width: 100%;
}

.page-blog__item-1-1000,
.page-blog__item-1-320,
.page-blog__item-3-1000,
.page-blog__item-3-320 {
  display: none;
}


.page-blog__text {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px var(--color-border) solid;
}

.page-blog__text p {
  margin-top: 0;
  margin-bottom: 6px;
}

.blog-t-style {
  font-family: 'PT Sans';
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0 0 20px;
  line-height: 140%;
  color: var(--color-gray);
}

.page-blog__title h3 {
  font-family:'PT Sans';
  font-size: 20px;
  margin: 0;
  color: var(--color-dark);
}

.page-blog-title__style {
  margin-top: 15px;
  margin-left: 20px;
}

.page-blog-link {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.page-blog__arrow {
  margin-left: 10px;
}

.page-blog-link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--font-size-links);
  color: var(--color__orange);
  transition: all 0.25s ease;
}

.page-blog-link a:hover {
  color: var(--color__orange--hover);
}



/*подвал*/


.page-footer {
  border-top: 1px var(--color-border) solid;
  }

.page-footer a {
  color: var(--color-dull);
  text-decoration:none;
  transition: all 0.25s ease;
}

.page-footer a:hover {
  color: var(--color__orange);
  text-shadow: var(--color-border) 1px 0 5px;
  transition: all 0.25s ease;
}

.footer-feedback__item:hover path {
  stroke: var(--color__orange);
  transition: all 0.25s ease;
}

.page-footer__menu {
  display: flex;

}

.page-footer--height {
  height: 282px;
}

.page-footer__menu {
  height: 100%;
  width: 55%;
}

.page-footer__logo {
  border-right: 1px var(--color-border) solid;
  padding-right: 50px;
  padding-top: 50px;
  height: 100%;
}

.footermenu__item {
  list-style-type: none;
}

.page-footer__nav {
  padding-top: 50px;
  padding-left: 50px;
}

.footermenu__title {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 8px;
}

.footermenu__item {
  margin-bottom: 7px;
  width: 170px;
}

.footermenu {
  margin: 0;
}

.page-footer__feedback {
    padding-top: 50px;
    padding-left: 69px;
}

.footer-feedback p {
  margin-top: 35px;
}

.footer-feedback__title {
  margin: 0 0 15px 0;
  font-size: 20px;
  font-weight: 600;
}

.footer-feedback__item {
  display: block;
  margin-bottom: 11px;
}

.mailto-adaptive {
  display: none;
}

.page-footer__mailto-social {
  height: 100%;
  width: 43%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mailto__item {
  font-size: 12px;
  font-weight: 600;
  appearance: none; /* обнуление базовых стилей */
  border: 2px solid var(--color-white);
  border-bottom: 2px solid var(--color-border);
  background-color: transparent;
  line-height: 28px;
  color: var(--color-dull);
  transition: border 0.25s ease;
  }

.mailto__item::placeholder {
  color: var(--color-gray);
}

.mailto__item:focus::placeholder {
  color: var(--color-dull);
}

.mailto__item:focus {
  border-bottom: 3px solid var(--color__orange);
  outline: none;
}

.form__name {
  width: 280px;
  padding-left: 11px;
}

.form__email {
  width: 234px;
  padding-left: 11px;
}

.mailto__text {
  margin-top: 30px;
}

.mailto__text a{
  color: var(--color__orange);
}

.mailto__text a:hover{
  color: var(--color__orange--hover);
  transition: all 0.25s ease;
}

.container-button {
  margin-top: 10px;
  display: flex;
}

.mailto__button-svg circle:hover {
  fill: var(--color__orange--hover);
  transition: all 0.25s ease;
}


.page-footer__social {
  border-left: 1px var(--color-border) solid;
  padding-left: 50px;
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.social__item svg:hover path{
  stroke:var(--color__orange);
  transition: all 0.25s ease;
}


.page-footer__copyright {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__copyright p {
  color: var(--color-gray);
  font-size: 12px;
}

/* responsive */

/* tablet 1000 */



@media screen and (max-width: 1125px){

  /* хедер */

  .page-header__mainmenu {
    position: relative;
  }

  .page-header__nav {
    position: absolute;
    margin-left: 0;
    top: 70px;
    opacity: 0;
    visibility: hidden;
  }

  .mainmenu {
    display: block;
    background-color: var(--color-white--opt);
    width: 200px;
  }

  .mainmenu__item {
    padding: 10px 0 10px 10px;
    border-bottom: var(--color-border) solid 1px;
  }

  .page-header__logo-two {
    border-left: 1px var(--color-border) solid;
    padding-left: 50px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    flex: 1;
  }
  
  .hamburger {
    display: block;
  }
  
  .page-header__logo {
    display: none;
  }
  
  .hamburger.is-active + .page-header__nav {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
  }

  .page-header__border {
    margin-left: 30px;
  }

  /* main  */

  /* первый блок */

  .tabcontent__btn span {
    font-size: 16px;
  }

  .tabcontent__wrap--big {
    display: none;
  }

  .tabcontent__wrap--big-ad {
    display: block;
    max-width: 282px;
    width: 100%;
    height: 366px;
  }

  .tabcontent__wrap img {
    max-width: 282px;
    width: 100%;
    height: 366px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }

  .circle {
    min-width: 54px;
    min-height: 54px;
  }

  .circle__btn {
    font-size: 16px;
  }

  /* Техника с душой */
  .aboutcompany-info {
    justify-content: space-between;
  }

  .aboutcompany__text {
    margin-left: 20px;
  }

  /* Каталог */

  .page-catalog__grid {
    grid: repeat(3, minmax(529px, 1fr)) / repeat(6, calc(16.5% - 15px));
  }

  .catalog-item__box1 {
    order: 1;
    grid-column: 1 / span 2;
 }
  .catalog-item__box2 {
    order: 2;
    grid-column: 3 / span 2;
  }
  .catalog-item__box3 {
    order: 3;
    grid-column: 5 / span 2;
  }
  .catalog-item__box4 {
    order: 6;
    grid-column: 1 / span 3;    
  }
  .catalog-item__box5 {
    order: 4;
    grid-column: 1 / span 4;
  }
  .catalog-item__box6 {
    order: 5;
    grid-column: 5 / span 2;
  }
  .catalog-item__box7 {
    order: 7;   
    grid-column: 4 / span 3;   
  }

  .tabcontent__wrap-catalog img {
    height: 529px;  
   }

   /* лучшие предложения */

   .best-images__right img {
    width: 100%;
    height: 366px;
  }

     .best-images__right {
    width: 100%;
  }

  .best-images__right-img1240 {
    display: none;
  }

  .best-images__right-img1000 {
    display: block;
  }

  /*подписка*/

  .page-subscription__banner {
    margin-left: -60px;
  }

  .page-subscription__banner-img {
    display: none;
  }

  .page-subscription__banner-img1000 {
    display: block;
  }

  /* блог */

  .page-blog__item-2-ad {
    display: none;
  }

  .page-blog__item-1-1000,
  .page-blog__item-3-1000 {
    display: block;
  width: 100%;
}

  .page-blog__item-1,
  .page-blog__item-3 {
  display: none;
  }

  .page-blog__item {
    max-width: none;
    width: 50%;
    margin-right: 20px;
  }

  


/* футер */
  .page-footer__logo {
    padding-top: 30px;
    padding-right: 20px;
  }

  .page-footer__nav {
    padding-top: 30px;
    padding-left: 20px;
  }

  .page-footer__feedback {
    padding-top: 30px;
    padding-left: 20px;
  }

  .page-footer__mailto {
    padding-top: 30px;
    margin-right: 20px;
  }

  .page-footer__mailto-social {
    align-items: flex-start;
  }  


  .page-footer__social {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
    padding-left: 10px;
  }

  .social__item {
    margin-bottom: 10px;
  }

}


/* tablet 780 */
@media screen and (max-width: 900px) {

  
  /* main */

  /* первый блок */
  .tabcontent__btn span {
    display: none;
  }

  .style__title,
  .tab__content {
    margin-left: 70px;
  }

  .tab__content {
    justify-content: space-between;
  }

  .tab__content button{
    padding-right: 30px;
  }

  .tabcontent__wrap-3 {
    display: none;
  }

  .tabcontent__wrap {
    width: 40%;
  }

  
  .tabcontent__wrap  img {
    max-width: 330px;
  }

    /* Техника с душой */
    .aboutcompany-info {
      flex-wrap: wrap;
    }

    .aboutcompany-images__right-img-ad {
      display: block;
    }

    .aboutcompany-images__right-img-dec {
      display: none;
    }
  
      /* Каталог */

  .page-catalog__grid {
    grid: repeat(4, minmax(529px, 1fr)) / repeat(2, calc(45%));
  }

  .catalog-item__box1 {
    order: 1;
    grid-column: 1;
 }
  .catalog-item__box2 {
    order: 2;
    grid-column: 2;
  }
  .catalog-item__box3 {
    order: 4;
    grid-column: 1;
  }
  .catalog-item__box4 {
    order: 5;
    grid-column: 2 ;    
  }

  .catalog-item__box5 {
    order: 3;
    grid-column: 1/ span 2;
  }
  .catalog-item__box6 {
    order: 6;
    grid-column: 1;
  }
  .catalog-item__box7 {
    order: 7;   
    grid-column: 2;   
  }

  .tabcontent__wrap-catalog img {
    height: auto;
   }

  /* .page-catalog__btn {
    margin-top: 100px;
  } */

     /* лучшие предложения */

      .best-images__right {
      width: 100%;
      height: 100%;
  }


     .best-images__right img {
      width: 100%;
      height: 366px;
      object-fit: cover;
      object-position: center;
    }
    
    .best-images__right-img1000 {
      display: none;
    }
  
    .best-images__right-img768 {
      display: block;
    }



      /*подписка*/

  .page-subscription__banner {
    margin-left: -250px;
  }


    /* блог */

    .page-blog__item-1-1000,
    .page-blog__item-3-1000 {
      display: none;
  }
  
    .page-blog__item-1,
    .page-blog__item-3 {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }




  /* футер */
  .page-footer__menu{
    width: 30%;
  }

  .page-footer__mailto-social {
    width: 70%;
  }

  .page-footer__social{
    width: auto;
  }


  .page-footer__feedback {
    display: none;
  }
  
}

/* @media screen and (max-width: 700px){
  .page-catalog__btn {
    margin-top: 170px;
  }
} */


/* mobale wibe */

@media screen and (max-width: 620px){

  /* хедер */
  .page-header__tel {
    display: none;
  }
  /* .header-icons__ac {
    display: none;
  } */

  
  .page-header__logo-two {
    padding-left: 0;
    justify-content: center;
  }

  .header-icons a {
    padding-left: 10px;
  }

  .page-header__border {
    margin: 0;
  }
 

  /* main */
  /* Первый блок */
  .style__title {
    font-size: 35px;
    margin-left: 40px;
  }

  .circle {
    display: none;
  }

  .tabcontent__item {
    overflow: hidden;
  }

  .tabcontent__wrap {
    width: 354px;
  }

  .tabcontent__wrap  img {
    width: 354px;
    max-width: none;
  }

  .tabcontent__wrap-3 {
    display: block;
  }
    
  .tabcontent__wrap {
    margin-bottom: 30px;
  }

  .tab-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }

  .tab__link-dec {
    display: none;
  }

  .tab__link-ad-480 {
    display: block;
  }

  .style__title {
    margin-left: 40px;
  }

  .tab__content {
    margin-left: 0;
  }

  /* Техника с душой */
  .aboutcompany-images__left {
    display: none;
  }


  /* каталог */

  .page-catalog__grid {
    display: block;
  }

  .catalog-item__box2 {
    display: none;
  }

  .catalog-item__box6 {
    display: none;
  }
  .catalog-item__box7 {
    display: none;
  }

  .tabcontent__wrap-catalog img {
    /* height: 366px; */
    height: 100%;
   }

   .catalog-item {
     margin-top: 20px;
   }

  /* .page-catalog__btn {
    margin-top: 100px;
  } */

  /* Лучшие предложения */

  .best-images__left {
    display: none;      
  }

  /* Подписка */

  .subscription {
    width: 100%;
    padding-right: 30px;
    margin-left: 15px;
  }

  .page-subscription__email {
    width: 100%;
  }

  .subscription p {
    max-width: 400px;
    margin-left: 0;
  }

  .page-subscription__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    margin-left: 15px;
}

.page-subscription__row {
  display: flex;
  justify-content: flex-start;
  padding: 50px 0;
  width: 100%;
}

  .page-subscription__banner {
    margin-left: 0;
    box-sizing: border-box;
  }

  .page-subscription__banner-img1000 {
    display: none;
  }

  .page-subscription__banner-img480 {
    display: block;
    padding-right: 30px;
  }

      /* блог */
      .page-blog-list {
        flex-direction: column;
      }

      .page-blog__item{
        width: 100%;
        margin-bottom: 30px;
      }

      .page-blog__item-1-1000,
      .page-blog__item-3-1000 {
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    
      .page-blog__item-1,
      .page-blog__item-3 {
        display: none;
      }

  
  /* футер */
  .page-footer__nav {
    display: none;
  }

  .form__name {
    width: 260px;
  }

  .form__email {
    width: 215px;
  }
}

/* mobale small */
@media screen and (max-width: 450px){

  .header-icons a {
    padding-left: 5px;
  }

   /* main */

   .style__title {
     font-size: 25px;
     margin-left: 0;
   }

   .tab__content button {
    padding-right: 10px;
   }

   .tab__link-ad-480 {
    display: none;
  }

  .tab-slider {
    margin-bottom: 30px;
  }

  .tab__link-ad-320 {
    display: block;
    margin-bottom: 100px;
  }


  .tabcontent__item {
    overflow: visible;
  }

  .tabcontent__wrap-2,
  .tabcontent__wrap-3 {
    display: none;
  }

  .tabcontent__wrap  img {
    width: 100%;
    max-width: 285px;
  }

    /* Техника с душой */

    .page-aboutcompany {
      margin-top: 80px;
    }

    .aboutcompany__text {
      margin-left: 0;
  }
  
    .aboutcompany-images__right {
      display: none;
    }

    .aboutcompany-images__ad {
      display: block;
    }

    .aboutcompany-images__ad img {
      width: 100%;
    }

         /* лучшие предложения */

        .best-images__right img {
        width: 100%;
        height: 366px;
      }
      
      .best-images__right-img768 {
        display: none;
      }
    
      .best-images__right-img320 {
        display: block;
      }

      /* подписка */

      
  .page-subscription__banner-img480 {
    display: none;
  }

  .page-subscription__banner-img320 {
    display: block;
    padding-right: 30px;
  }

    /* блог */

    .page-blog__item-1-320,
    .page-blog__item-3-320 {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center;
  }

    .page-blog__item-1-1000,
    .page-blog__item-3-1000 {
      display: none;
    }

   /* футер */

  .page-footer--border-bottom {
    border-bottom: 1px var(--color-border) solid;
  }

   .page-footer--height {
     height: 78px;
   }


   .page-footer__mailto {
     display: none;
   }

   .mailto-adaptive {
    display: block;
    margin: 30px 0 20px;
  }

  .page-footer__logo {
    padding-top: 0;
    display: inline-flex;
    align-items: center;
  }

  .page-footer__social {
    padding-top: 0;
    border-left: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

   .page-footer__mailto-social {
     width: auto;
   }

   .social__item {
     margin: 0 0 0 15px;
   }
}




/* Страница 404 */

.main-404 {
  display: flex;
  flex: 1;
}

.veiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-404 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;  
  flex: auto;
  height: 100%;
  margin-bottom: 20px;
}

.page-404__title {
  margin: 20px;
  color: var(--color__orange);
  font-size: 50px;
}

.page-404__text {
  margin: 10px;
  color: var(--color-dull);
  font-size: 32px;
}